.poppins-thin {
  font-weight: 100;
}

.poppins-extralight {
  font-weight: 200;
}

.poppins-light {
  font-weight: 300;
}

.poppins-medium {
  font-weight: 500;
}

.poppins-semibold {
  font-weight: 600;
}

.poppins-bold {
  font-weight: 700;
}

.poppins-extrabold {
  font-weight: 800;
}

.poppins-black {
  font-weight: 900;
}

.poppins-thin-italic {
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-weight: 900;
  font-style: italic;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #F7F5F4;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 991px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width: 992px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: 992px) {
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 1279px) {
  .desktop-visible {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .mobile-invisible {
    display: none !important;
  }
}
@media (min-width: 768px) {
  .mobile-visible {
    display: none !important;
  }
}
.btn {
  border-radius: 30px;
  border: 2px solid #E6E0DE;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
}
@media (max-width: 767px) {
  .btn {
    height: 38px;
    font-size: 14px;
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media (min-width: 768px) {
  .btn {
    height: 48px;
    font-size: 16px;
    padding-left: 22px;
    padding-right: 22px;
  }
}
.btn--violet-white {
  background: #2D1D46;
  color: white;
}
.btn--white-green {
  background-color: white;
  color: #317676;
}
.btn--login:after, .btn--search:after {
  content: "";
  width: 15px;
  height: 15px;
  margin-left: 12px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.btn--login:after {
  background-image: url(../img/icons/login1.svg);
}
.btn--search:after {
  background-image: url(../img/icons/search-white.svg);
}
.btn--small {
  height: 44px;
}

.rounded-block {
  position: relative;
}
.rounded-block--middle {
  padding: 51px 40px 40px 40px;
  border-radius: 36px 100px 20px 100px;
}
.rounded-block--big {
  padding: 72px 44px 51px 71px;
  border-radius: 140px 80px 140px 35px;
}
.rounded-block--big-reverse {
  padding: 70px 72px 44px 68px;
  border-radius: 80px 140px 35px 140px;
}
.rounded-block--white-violet {
  background-color: #fff;
  -webkit-box-shadow: -20px 20px 0px 0px #1B2A51;
          box-shadow: -20px 20px 0px 0px #1B2A51;
}
.rounded-block--green-white {
  background-color: #2D5147;
  -webkit-box-shadow: -20px 20px 0px 0px #E6E0DE;
          box-shadow: -20px 20px 0px 0px #E6E0DE;
}
.rounded-block--light-green-white {
  background-color: #377743;
  -webkit-box-shadow: 20px 20px 0px 0px #E6E0DE;
          box-shadow: 20px 20px 0px 0px #E6E0DE;
}

h1 {
  font-family: "Merriweather", serif;
  font-weight: 300;
  line-height: 1;
  font-size: 48px;
  color: #146262;
}
h1 strong {
  font-weight: 900;
}
@media (max-width: 767px) {
  h1 {
    font-size: 30px;
    line-height: 1.25;
  }
}

h2 {
  font-family: "Merriweather", serif;
  font-weight: 300;
  line-height: 1.18;
  margin-bottom: 24px;
}
@media (max-width: 767px) {
  h2 {
    font-size: 30px;
  }
}
h2 strong {
  font-weight: 900;
}

h3,
h4 {
  font-family: "Merriweather", serif;
  font-weight: 700;
  color: #146262;
}

h3 {
  font-size: 36px;
  line-height: 1;
  margin-bottom: 12px;
}
@media (max-width: 1199px) {
  h3 {
    font-size: 30px;
  }
}

h4 {
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 29px;
}

.sub-title {
  line-height: 1.25;
}

.text-center {
  text-align: center;
}

.text-medium {
  font-weight: 500;
}

.text-green {
  color: #146262;
}

.torn-edge {
  position: relative;
}
.torn-edge:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  background-repeat: repeat-x;
  background-position: 0 0;
  background-size: auto 100%;
  z-index: -1;
}
.torn-edge--grey:before {
  background-image: url(../img/bg/bg-grey.png);
}
@media (max-width: 767px) {
  .torn-edge:before {
    top: -47px;
    height: 87px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .torn-edge {
    margin-top: 70px;
  }
  .torn-edge:before {
    height: 143px;
    top: -70px;
  }
}
@media (min-width: 1200px) {
  .torn-edge {
    margin-top: 90px;
  }
  .torn-edge:before {
    top: -90px;
    height: 185px;
  }
}

@media (max-width: 1199px) {
  .header {
    position: relative;
  }
}
@media (max-width: 767px) {
  .header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@media (min-width: 768px) {
  .header {
    padding-top: 43px;
    padding-bottom: 43px;
  }
}
.header__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1199px) {
  .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 1199px) {
  .header__nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #F7F5F4;
  }
}
@media (min-width: 1200px) {
  .header__nav {
    display: block !important;
  }
}
@media (min-width: 1200px) and (max-width: 1279px) {
  .header__nav {
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media (min-width: 1280px) {
  .header__nav {
    padding-left: 29px;
    padding-right: 29px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 768px) {
  .header__buttons .btn + .btn {
    margin-left: 12px;
  }
}
@media (max-width: 1199px) {
  .header__menu-btn.opened em {
    opacity: 0;
  }
  .header__menu-btn.opened:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .header__menu-btn.opened:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .header__menu-btn.opened:before {
    top: 13px;
  }
  .header__menu-btn.opened:after {
    bottom: 12px;
  }
}
@media (max-width: 767px) {
  .header__menu-btn.opened:before {
    top: 9px;
  }
  .header__menu-btn.opened:after {
    bottom: 8px;
  }
}
@media (max-width: 1199px) {
  .header__menu-btn {
    width: 35px;
    height: 27px;
    position: relative;
    margin-left: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__menu-btn em {
    width: 30px;
  }
  .header__menu-btn:before, .header__menu-btn:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    display: block;
  }
  .header__menu-btn em, .header__menu-btn:before, .header__menu-btn:after {
    height: 2px;
    background-color: #000;
    border-radius: 2px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .header__menu-btn:before {
    top: 0;
  }
  .header__menu-btn:after {
    bottom: 0;
  }
}
@media (max-width: 767px) {
  .header__menu-btn {
    width: 25px;
    height: 19px;
    margin-left: 20px;
  }
  .header__menu-btn em {
    width: 22px;
  }
}
@media (min-width: 1200px) {
  .header__menu-btn {
    display: none;
  }
}

.main-nav {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
}
@media (max-width: 1199px) {
  .main-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.main-nav__item {
  position: relative;
  cursor: pointer;
}
.main-nav__item.opened:after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
@media (max-width: 1199px) {
  .main-nav__item {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 12px 24px;
  }
  .main-nav__item:after {
    content: "";
    position: absolute;
    right: 24px;
    top: 18px;
    width: 15px;
    height: 16px;
    background: url(../img/icons/chevron-black.svg) no-repeat 50% 50%;
  }
}
@media (min-width: 1200px) {
  .main-nav__item {
    margin-left: 12px;
    margin-right: 12px;
  }
}
@media (min-width: 1200px) {
  .main-nav__item:not(.main-nav__item--search) {
    padding-right: 27px;
    background: url(../img/icons/chevron-black.svg) no-repeat calc(100% - 4px) 50%;
  }
}
@media (min-width: 1200px) and (max-width: 1279px) {
  .main-nav__item:not(.main-nav__item--search) {
    padding-right: 22px;
  }
}
@media (max-width: 1199px) {
  .main-nav__item--search {
    display: none;
  }
}
.main-nav__submenu {
  display: none;
}
.main-nav__submenu ul {
  list-style: none;
}
.main-nav__submenu a {
  display: block;
  white-space: nowrap;
}
@media (max-width: 1199px) {
  .main-nav__submenu a {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 48px;
    padding-right: 12px;
  }
  .main-nav__submenu li {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  .main-nav__submenu ul {
    margin-top: 12px;
    margin-left: -24px;
    margin-right: -24px;
  }
}
@media (min-width: 1200px) {
  .main-nav__submenu {
    position: absolute;
    top: calc(100% + 12px);
    background: #F7F5F4;
    border-radius: 5px;
    -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
            box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  }
  .main-nav__submenu a {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .main-nav__submenu ul {
    padding: 12px;
  }
}
.main-nav img {
  display: block;
}

.logo img {
  display: block;
}
@media (max-width: 767px) {
  .logo img {
    height: 40px;
    width: auto;
  }
}

.banner {
  position: relative;
}
.banner__img {
  position: relative;
  border-radius: 35px;
  overflow: hidden;
}
.banner__img--home {
  width: 100%;
  height: 0;
}
@media (max-width: 1199px) and (min-width: 768px) {
  .banner__img--home {
    padding-top: 58%;
  }
}
@media (max-width: 767px) {
  .banner__img--home {
    height: 452px;
    border-radius: 30px;
  }
}
@media (min-width: 1200px) {
  .banner__img--home {
    padding-top: 52.2%;
  }
}
.banner__img img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  max-width: inherit;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
}
.banner__text {
  position: absolute;
  top: 0;
  width: 100%;
  color: #fff;
  font-size: 20px;
  line-height: 1.5;
}
.banner__text h2 {
  margin-top: 24px;
}
.banner__text img {
  display: block;
}
@media (max-width: 1199px) {
  .banner__text p {
    display: none;
  }
  .banner__text h2 {
    margin-bottom: 0;
  }
}
@media (max-width: 1199px) and (min-width: 768px) {
  .banner__text {
    width: 471px;
    right: -5px;
    padding: 30px 44px 30px 71px;
    border-radius: 80px 40px 80px 20px;
  }
}
@media (max-width: 767px) {
  .banner__text {
    left: 0;
    background: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 0;
    text-align: center;
    padding: 24px 20px;
  }
  .banner__text h2 {
    margin-top: 18px;
  }
  .banner__text img {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1200px) {
  .banner__text {
    max-width: 601px;
    right: -30px;
  }
}
@media (min-width: 768px) {
  .banner {
    padding-left: 29px;
    padding-right: 29px;
    padding-top: 59px;
    padding-bottom: 2px;
  }
}
@media (min-width: 1200px) {
  .banner {
    padding-bottom: 48px;
  }
}

.secondary-menu {
  border: 2px solid #E3DFDC;
  -webkit-box-shadow: 0px 1px 12.3px 0px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 1px 12.3px 0px rgba(0, 0, 0, 0.8);
  border-radius: 30px;
  padding: 18px 42px;
  line-height: 20px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #F7F5F4;
}
.secondary-menu-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding-left: 30px;
  padding-right: 30px;
}
.secondary-menu strong {
  font-weight: 600;
}
.secondary-menu a {
  color: #317676;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.secondary-menu a:hover {
  color: #211F54;
}
.secondary-menu svg {
  margin-right: 12px;
  display: block;
}
@media (max-width: 1199px) {
  .secondary-menu {
    font-size: 16px;
    gap: 30px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .secondary-menu {
    padding-left: 20px;
    padding-right: 20px;
    gap: 25px;
  }
}
@media (max-width: 767px) {
  .secondary-menu {
    background: #2D5147;
    border: 2px solid #E3DFDC;
    -webkit-box-shadow: -10px 10px 0px 0px #E6E0DE;
            box-shadow: -10px 10px 0px 0px #E6E0DE;
    padding: 20px 30px 30px 30px;
    border-radius: 20px 60px 30px 60px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    color: #fff;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 18px;
  }
  .secondary-menu strong {
    min-width: 100%;
    text-align: center;
  }
  .secondary-menu svg:not(.icon-provider) path {
    fill: #fff;
  }
  .secondary-menu svg.icon-provider path {
    stroke: #fff;
  }
  .secondary-menu a {
    color: inherit;
  }
}
@media (max-width: 360px) {
  .secondary-menu {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 1200px) {
  .secondary-menu {
    font-size: 20px;
  }
  .secondary-menu a {
    margin-left: 18px;
    margin-right: 18px;
  }
  .secondary-menu strong {
    margin-right: 42px;
  }
}

.gradient-bg {
  background: -webkit-gradient(linear, left top, left bottom, from(#E3DFDC), to(#F7F5F4));
  background: linear-gradient(180deg, #E3DFDC 0%, #F7F5F4 100%);
}

.company-info {
  max-width: 697px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  line-height: 1.5;
  padding-bottom: 70px;
}
.company-info h1 {
  margin-bottom: 56px;
}
.company-info p {
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .company-info h1 {
    margin-top: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .company-info h1 {
    margin-top: 30px;
  }
}
@media (min-width: 1200px) {
  .company-info h1 {
    margin-top: 50px;
  }
}

.products--full-width {
  max-width: 728px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.products__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
@media (max-width: 767px) {
  .products__grid {
    gap: 10px;
  }
}
@media (min-width: 768px) {
  .products__grid {
    gap: 26px 29px;
  }
}
.products__item {
  color: #fff;
  line-height: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.products__item--green, .products__item--violet {
  border-radius: 40px 80px 20px 80px;
}
.products__item--blue, .products__item--brown {
  border-radius: 80px 40px 80px 20px;
}
.products__item--green {
  background-color: #316A48;
}
@media (max-width: 767px) {
  .products__item--green {
    border-radius: 30px 60px 20px 60px;
  }
}
.products__item--blue {
  background-color: #1B2A51;
}
@media (max-width: 767px) {
  .products__item--blue {
    border-radius: 60px 30px 60px 20px;
  }
}
.products__item--brown {
  background-color: #39291E;
}
@media (max-width: 767px) {
  .products__item--brown {
    border-radius: 40px 20px 40px 30px;
  }
}
.products__item--violet {
  background-color: #2D1D46;
}
@media (max-width: 767px) {
  .products__item--violet {
    border-radius: 20px 40px 30px 40px;
  }
}
.products__item strong {
  display: block;
  margin-top: 15px;
}
.products__item img {
  display: block;
}
@media (max-width: 767px) {
  .products__item {
    font-size: 16px;
    padding: 20px 35px 20px 35px;
  }
}
@media (min-width: 768px) {
  .products__item {
    font-size: 24px;
    padding: 40px 35px 40px 35px;
  }
}
@media (max-width: 767px) {
  .products h3 {
    margin-bottom: 32px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .products h3 {
    margin-bottom: 24px;
  }
}
@media (min-width: 1200px) {
  .products h3 {
    margin-bottom: 52px;
  }
}

.vision-plus {
  position: relative;
}
.vision-plus__img {
  width: 100%;
  height: 415px;
  border-radius: 30px;
  overflow: hidden;
}
.vision-plus__img img {
  width: 100%;
  max-width: inherit;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 767px) {
  .vision-plus__img {
    display: none;
  }
}
.vision-plus__text {
  font-family: "Merriweather", serif;
  color: #fff;
  line-height: 1.36;
}
.vision-plus__text p {
  margin-top: 24px;
  margin-bottom: 24px;
}
@media (max-width: 1199px) {
  .vision-plus__text img {
    width: 200px;
  }
}
@media (max-width: 767px) {
  .vision-plus__text {
    border-radius: 35px;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 40px;
    font-size: 20px;
    line-height: 1.5;
  }
}
@media (min-width: 768px) {
  .vision-plus__text {
    position: absolute;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .vision-plus__text {
    top: 16px;
    left: 0;
    width: 478px;
    padding: 50px;
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .vision-plus__text {
    left: -41px;
    top: 53px;
    width: 508px;
    font-size: 22px;
  }
}
@media (max-width: 767px) {
  .vision-plus {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media (min-width: 768px) {
  .vision-plus {
    margin-top: 58px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .vision-plus {
    padding-top: 96px;
    padding-bottom: 56px;
  }
}
@media (min-width: 1200px) {
  .vision-plus {
    padding-bottom: 90px;
    padding-top: 150px;
  }
}

.contact-us {
  background-color: #E6E0DE;
}
@media (max-width: 767px) {
  .contact-us {
    padding-top: 54px;
    padding-bottom: 70px;
  }
  .contact-us h4 {
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .contact-us {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media (min-width: 1280px) {
  .contact-us {
    padding-top: 116px;
    padding-bottom: 116px;
  }
}
.contact-us__info {
  font-weight: 500;
}
@media (max-width: 767px) {
  .contact-us__info {
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
  }
}
@media (min-width: 768px) {
  .contact-us__info {
    line-height: 60px;
  }
}
@media (max-width: 1199px) {
  .contact-us__info {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .contact-us__info {
    font-size: 24px;
  }
}
@media (min-width: 1280px) {
  .contact-us__info {
    margin-right: -26px;
  }
}
.contact-us__row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1279px) {
  .contact-us__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (min-width: 1280px) {
  .contact-us__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    grid-gap: 76px;
  }
}
@media (max-width: 1279px) {
  .contact-us .sub-title {
    margin-bottom: 30px;
  }
}
@media (min-width: 1280px) {
  .contact-us .sub-title {
    margin-bottom: 76px;
  }
}
.contact-us .rounded-block {
  max-width: 610px;
}
@media (max-width: 1279px) {
  .contact-us .rounded-block {
    width: 100%;
    margin-top: 30px;
  }
}
@media (max-width: 767px) {
  .contact-us .rounded-block {
    margin-top: 90px;
    background: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 0;
  }
}
@media (min-width: 1280px) {
  .contact-us .rounded-block {
    width: 610px;
  }
}

.contact-form .row {
  grid-gap: 32px;
}
.contact-form .col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: 24px;
}
.contact-form .btn {
  width: auto;
  min-width: 150px;
  font-size: 16px;
}
.contact-form label {
  display: block;
  line-height: 1.25;
  margin-bottom: 12px;
}
.contact-form input,
.contact-form textarea {
  width: 100%;
  border-radius: 30px;
  border: 2px solid #E6E0DE;
  padding-left: 22px;
  padding-right: 22px;
}
.contact-form input {
  height: 50px;
}
.contact-form textarea {
  height: 90px;
  padding-top: 10px;
  padding-bottom: 10px;
  resize: none;
}

.footer {
  background-color: #0A3737;
  color: #fff;
  font-size: 16px;
  line-height: 1.375;
}
@media (max-width: 767px) {
  .footer__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 30px;
  }
}
@media (min-width: 768px) {
  .footer__top {
    padding-top: 72px;
    padding-bottom: 64px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .footer__top {
    padding-left: 114px;
    padding-right: 114px;
  }
}
.footer__bottom {
  padding-top: 24px;
  padding-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}
@media (max-width: 991px) {
  .footer__bottom {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .footer__bottom {
    padding-left: 114px;
    padding-right: 114px;
  }
}
.footer__search {
  padding: 0 11px;
  margin-left: 8px;
  margin-right: 24px;
}
@media (max-width: 767px) {
  .footer-nav {
    width: 100%;
    margin-top: 30px;
  }
  .footer-nav h4 {
    position: relative;
    margin: 0;
    padding-top: 24px;
    padding-bottom: 24px;
    font-weight: 400;
    font-size: 18px;
  }
  .footer-nav h4:after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -8px;
    width: 36px;
    height: 16px;
    background: url(../img/icons/chevron.svg) no-repeat 50% 50%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .footer-nav .js-accordion-content {
    display: none;
  }
}
@media (min-width: 768px) {
  .footer-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer-nav h4 {
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: 700;
  }
  .footer-nav .js-accordion-content {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .footer-nav__item.opened h4:after {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}
@media (max-width: 767px) {
  .footer-nav__item {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
  }
}
@media (min-width: 768px) {
  .footer-nav__item:last-child li:first-child {
    margin-bottom: 24px;
  }
}
@media (max-width: 767px) {
  .footer-nav__submenu a {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
}
@media (max-width: 767px) {
  .footer-nav__main-menu li {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
  }
  .footer-nav__main-menu a {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 18px;
    background: url(../img/icons/chevron.svg) no-repeat calc(100% - 15px) 50%;
  }
}
.footer-nav ul {
  list-style: none;
}
.footer h4 {
  color: inherit;
  font-family: "Poppins", sans-serif;
}

.copy-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.copy-menu a {
  font-weight: 600;
}
.copy-menu__line {
  padding-left: 15px;
  padding-right: 15px;
}
@media (max-width: 1199px) {
  .copy-menu {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 500px;
  }
}
@media (max-width: 767px) {
  .copy-menu {
    font-size: 14px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .copy-menu span:not(.copy-menu__line) {
    display: block;
    width: 100%;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .copy-menu {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}